
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@200;300;400;500;600&display=swap');

.card-adm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

.btn{
   display: flex;
}

.list{
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
}

.listHead{
    font-weight: 500;
}

.btn-page{
    background-color: royalblue;
    color: white;
    padding: 1rem;
    border: 0.1px solid;
   
    font-size: 1.1rem;
}
.btn-page:hover{
    scale: 1.2;
}

.main-div-1{
    display: flex;
    justify-content: center;
}

.botaoDeletar{
    background-color: red;
    color: white;
    border-radius: 0.3rem;
    padding: 0.8rem;
    margin: 0.5rem;
}

.botaoAdicionar{
    background-color: gray;
    color: white;
    border-radius: 0.3rem;
    padding: 1rem;
    margin: 0.5rem;
}

.botaoEditar{
    background-color: lightseagreen;
    color: white;
    border-radius: 0.3rem;
    padding: 0.8rem;
    margin: 0.5rem;
}

.botaoVisualizar{
    background-color: green;
    color: white;
    border-radius: 0.3rem;
    padding: 0.8rem;
    margin: 0.5rem;
}

.botaoDeletar:hover, .botaoEditar:hover, .botaoVisualizar:hover, .botaoAdicionar:hover{
    scale: 1.1;
}

.table-table{
    width: 90%;
}

.modais{
    height: 100%;
    display: flex;
    justify-content: center;
    vertical-align: center;
    align-items: center;
}

.modal-criar{
   display: flex;
   justify-content: center; 
   vertical-align: center;
   height: 100px;
   background-color: white;
   border-radius: 1rem;
   width: 50%;
}

.modal-criar-overlay{
    display: flex;
    justify-content: center;
    vertical-align: center;
    background-color: rgba(1, 1, 1, 0.6);
    opacity: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@media screen and (max-width: 900px) {
    .btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .td-btn{
        display: flex;
        flex-direction: column;
    }

    .main-div-1{
        width: 100%;
    }

    .botaoDeletar, .botaoEditar, .botaoVisualizar{
        padding: 0.15rem;
    }
}