body{
    min-height: 100vh;
}

.conteiner-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-cards{
    display: grid;
    grid-template-columns: 40rem 30rem ;
}

@media screen and (max-width: 1300px) {
    .nav-cards{
        display: flex;
        flex-direction: column;
    }

}