.div-contato{
    border-radius: 1rem;
    border-color: #f2f2f2;
    border-width: .2rem;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    box-shadow: 0.1rem 1rem 1rem #f2f2f2;
}

.div-contato h1{
    font-size: 2rem;
    font-weight: bold;
    color: #444444;
}

.div-contato h2{
    font-size: 1rem;
    color: #666666;
    font-weight: bold;
    margin-bottom: 1rem;
}

.div-Iframe{
    display: flex;
    justify-content: center;
    width: 100%;
}

.mapa-main{
    width: 70%;
    height: 18rem;
    box-shadow: .5rem .2rem 2rem #555555;
}

.inputs-contato{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    margin-top: 1rem;
}

.inputs-contato input{
    margin-bottom: .5rem;
    border-radius: .5rem;
    padding: .5rem;
}

.inputs-contato button{
    margin-bottom: .5rem;
    border-radius: .5rem;
    padding: .5rem;
    background-color: blueviolet;
}


.line-main{
    display: flex;
    width: 90%;
    color: #FFC81B;
    height: 0.13rem;
    background-color: #FFC81B;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.img-maos{
    width: 20rem;
    box-shadow: .5rem .2rem 2rem #555555;;
}

.informacao{
     margin: 5rem;    
 }

 .texto-informativo{
    width: 100%;
 }

 .texto-informativo p{
    font-size: 1.4rem;
 }

 .div-img-main{
    float: left;
 }

 .main-carrossel{
    width: 80%;
 }

 .main-carrossel img{
    height: 600px;
 }

 .div-carrossel{
    display: flex;
    justify-content: center;
 }

 .carousel .control-dots{
    margin: 40px 0;
 }

 .carousel .thumbs-wrapper {
    display: none;
 }