.main-login{
    display: flex;
    justify-content: center;
    align-self: center;
    vertical-align: center;
    min-height: 100vh;
}

.conteiner-login{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    width: 20rem;
    height: 30rem;
    border-radius: 1.2rem;
    justify-content: center;
    align-items: center;
    box-shadow: .5rem .2rem 2rem #444444;
    margin-top: 5rem;
}

.conteiner-login input{
    margin-bottom: 1rem;
    margin: 1rem;
    border-radius: 0.4rem;
    padding: 0.8rem;
    font-size: 1.1rem;
    border-color: white;
    width: 16rem;
}

.logo-login{
    width: 6rem;
}

.div-img-login{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.button-login{
    background-color: white;
    width: 16rem;
    border-radius: 0.4rem;
    padding: 0.8rem;
    margin-top: 1rem;
}

;.button-login:active{
    background-color: blueviolet;
}