body{
    width: 100%;
}


.nav{
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itens{
    display: flex;
    justify-content: center;
    align-items: center;

}

.item{
    
    display: flex;
    color: white;
    margin-right: 2rem;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
}

.item:hover{
   color:#FFC81B;
   scale: 1.05;
}

img{
    width: 5rem;
    margin: 1rem;
    margin-left: 1rem;
}

.nav-toggler div{
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background-color: darkgray;
}

.nav-toggler{
    display: none;
    cursor: pointer;
}

@media screen and ( max-width:768px){
    .nav-toggler{
        display: block;
        position: relative;
    }

    .itens{
        position: fixed;
        top: 7vh;
        right: 0;
        left: -1;
        width: 50%;
        height: 100vh;
        background-color: blueviolet;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
    .item{
        font-size: 1rem;
        margin-bottom: 5rem;
    }
    
    .img-main{
        width: 3rem;
    }
}

.ativo{
    transform: translateX(0);
}

.button-nav-login{
    color: white;
    background-color: #FFC81B;
    border-radius: .4rem;
    padding: .6rem;
}